{%extends 'chat/base.html'%}

{% block content %}
{% load static %}

{{profile_exists|json_script:"profile_exists"}}
{{request.user.username|json_script:"logged_in_user"}}
{% if form%}
<form method="post" action="{% url 'profile-list' %}">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="create">
</form>
{%else%}

{{chats|json_script:"chats"}}

<div style="width: 50%;" class="container" id="main">
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ profile_obj.get_absolute_url }}">
                <img id="user_dp"  src="{{profile_obj.profile_picture.url}}" alt="" width="50px" height="60px" class="img img-thumbnail" >
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ profile_obj.get_absolute_url }}"><strong>{{profile_obj.user.username}}</strong> </a>
            </li>
            <li class="nav-item">
             <form class="form-inline text-center" method="get" action="#">
          <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
            </form>
            </li>
      <li class="nav-item ml-auto">
          {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout'%}">Logout </a>
      
          {% else %}
              <a class="nav-link" href="{% url 'login'%}">Login </a>
               {% endif %}
            </li>
        </ul>
        </div>
     </nav>
     <table style="width: 30%;float: left;" class=" table table-bordered " >
        <tbody >
            
        </tbody>
    </table>
</div>

{% endif%}

<script >
    const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/chat/'
    + 'chatlist/');
    var profile_exists = JSON.parse(document.getElementById('profile_exists').textContent);
    var chats = JSON.parse(document.getElementById('chats').textContent);
    var logged_in_user = JSON.parse(document.getElementById('logged_in_user').textContent);
   
    


    if (profile_exists) {
        for (let index = 0; index < chats.length; index++) {
            (function(index){
                var user = chats[index][0];
            var user_id = chats[index][1];
            var chats_messages = chats[index][2];
            var btn_id = 'btn' + user_id+user;
            var msg_input_id = 'id'+user_id+user;
            var chat_log_id = 'chat'+user_id+user;
            var div_id = 'div'+user_id+user;
            var chatbtn_id = 'chatbtn' + user_id;
            var stat_id = 'stat'+user;
            var actions_div_id = 'action'+chats[index][1];

            var actions_div = document.createElement('div');
            actions_div.className='actionsdiv container';
            actions_div.hidden = true;
            actions_div.setAttribute("id",actions_div_id);
            
            counter = 0;
            var counter_btn;
            
            var cancel_btn = document.createElement('button');
            cancel_btn.innerText = 'Cancel';
            cancel_btn.className = 'btn btn-outline-dark btn-sm';
            cancel_btn.style.margin = "5px";
            (function(index){
                cancel_btn.addEventListener("click",function(){
                document.getElementById(actions_div_id).hidden = true;
                var action_divs = document.getElementsByClassName("action");
                counter = 0;
                _btns = document.getElementsByClassName('counter')
                for (let index = 0; index < counter_btns.length; index++) {
                    counter_btns[index].remove();                                       
                };
                delete _btns;
                for (let index = 0; index < action_divs.length; index++) {
                    action_divs[index].style.backgroundColor = 'transparent';
                    action_divs[index].value = 0;
                };
            })})(index);

            var delete_btn = document.createElement('button');
            delete_btn.innerText = 'delete'
            delete_btn.className = 'btn btn-outline-danger btn-sm';
            delete_btn.style.margin = "5px";
            (function(index){
                delete_btn.addEventListener("click",function(){
                selected_divs = document.getElementsByTagName('div');
                var selected_messages = []
                var action_divs = document.getElementsByClassName("action");
                for (let index = 0; index < selected_divs.length; index++) {
                    if (selected_divs[index].value == 1) {
                        selected_messages.push(selected_divs[index].getAttribute('id'))
                        selected_divs[index].remove();
                    };
                };
                document.getElementById(actions_div_id).hidden = true;
                counter = 0;
                for (let index = 0; index < action_divs.length; index++) {
                    action_divs[index].style.backgroundColor = 'transparent';
                    action_divs[index].value = 0;
                };
                btns = document.getElementsByClassName('counter');
                delete btns;
                for (let index = 0; index < counter_btns.length; index++) {
                    counter_btns[index].remove();                                       
                };
                chatSocket.send(JSON.stringify({
                    'delete':true,
                    'selected_messages': selected_messages,
                    'receiver': user,
                    'receiver_log':chat_log_id,
                    'sender':logged_in_user
                }));
                selected_messages.length = 0;
            })})(index);
            actions_div.append(cancel_btn,delete_btn);
            
            var imag = document.createElement("img");
            imag.src = chats[index][4];
            imag.className = "img img-thumbnail";
            imag.style.width = "80px";

            var imglink = document.createElement('a');
            imglink.href = chats[index][5];
            imglink.appendChild(imag)

            var chat_header_div = document.createElement('h6');
            chat_header_div.className = "row ";
            var image_div = document.createElement('div');
            image_div.className = "col-2";
            image_div.appendChild(imglink);
            chat_header_div.style.backgroundColor = '#e6e6ff';
            var header_div = document.createElement("div");
            header_div.className = "col-10";
            
            var chat_header = document.createElement('h5');
            chat_header.innerHTML = user + '\n' +'<h6>'+chats[index][3]+'</h6>';
            chat_header_div.appendChild(image_div);
            
            var link = document.createElement('a');
            link.href = chats[index][5];
            link.appendChild(chat_header);
            header_div.appendChild(link);
            chat_header_div.appendChild(header_div);
            var div = document.createElement('div');
            div.setAttribute("id",div_id);
            div.className = "div container ";
            div.style.border = 'thin solid grey';
            div.style.cssFloat = "right";
            div.style.display = "none";
            div.style.width = "70%";
            document.getElementById('main').appendChild(div);

            var chat_log = document.createElement("div");
            chat_log.setAttribute("id",chat_log_id);
            chat_log.style.height = "300px";
            chat_log.style.overflow = "scroll";
            
            document.body.appendChild(chat_log);
            document.getElementById(chat_log_id).prepend(actions_div);

            var msg_input = document.createElement("input");
            msg_input.setAttribute("type","text");
            msg_input.setAttribute("size","20");
            msg_input.className = "container";
            msg_input.setAttribute("id",msg_input_id);
            document.body.appendChild(msg_input);

            var button = document.createElement("button");
            button.setAttribute("id",btn_id);
            button.innerText = "send";
            button.className = "container";
            document.body.appendChild(button);

            var p1 = document.createElement('p');
            p1.appendChild(button);
            document.body.appendChild(p1);
            var p2 = document.createElement('p');
            p2.appendChild(msg_input);

            div.append(chat_header_div,chat_log,p2,p1);
            
            for (let index = 0; index < chats_messages.length; index++) {
                if (logged_in_user == chats_messages[index][1] ||logged_in_user == chats_messages[index][2] ) {
                    if (user == chats_messages[index][1] || user == chats_messages[index][2] ) {
                        (function(index){
                        var outer_div = document.createElement('div');
                        var _div = document.createElement('div');
                        var _div_id = chats_messages[index][4];
                        _div.setAttribute('id',_div_id);
                        _div.value = 0;
                        _div.appendChild(outer_div);
                        var h6 = document.createElement('h6');
                        h6.style.border = 'thin solid black';
                        h6.style.borderRadius = '8px';
                        (function(index){
                            h6.addEventListener("click",function(){
                                var c_div = document.getElementById(_div_id);
                                actions_div.hidden = false;  
                                if (counter>0) {
                                    counter_btns = document.getElementsByClassName('counter')
                                    for (let index = 0; index < counter_btns.length; index++) {
                                        counter_btns[index].remove();                                       
                                    }
                                }           
                                counter_btn = document.createElement('button');
                                counter_btn.className = 'counter btn btn-light';

                                if (c_div.value != 1){
                                    c_div.style.backgroundColor = '#e6e6ff';
                                    c_div.value = 1;
                                    counter += 1;
                                } else {                
                                    c_div.style.backgroundColor = 'transparent';
                                    c_div.value = 0;
                                    counter -= 1;
                                    if (counter==0) {
                                        delete counter_btn;
                                        document.getElementById(actions_div_id).hidden = true;
                                    };
                                };
                                if (counter!=0) {
                                    counter_btn.innerText = counter.toString();
                                    document.getElementById(actions_div_id).prepend(counter_btn);
                                };
                            }
                        )})(index);
                        if (logged_in_user == chats_messages[index][1]) {
                            _div.className = "action d-flex justify-content-end ";
                        } else{
                            _div.className = "action d-flex justify-content-start";
                        };                       
                        h6.innerText = chats_messages[index][0] + '\n' + chats_messages[index][3];
                        outer_div.appendChild(h6);
                        document.getElementById(chat_log_id).appendChild(_div);
            })(index);   
                    };
                };
            };
            var chatButton = document.createElement("div");
            chatButton.setAttribute("id",chatbtn_id);
            chatButton.innerText = user;
                     
            (function(index){
            chatButton.addEventListener("click",function(){
                divs = document.getElementsByClassName('div');
                for (let y = 0; y < divs.length; y++) {
                divs[y].style.display = "none";
                };
                x =  document.getElementById('div'+chats[index][1]+chats[index][0]);
                if (x.style.display == "none") {
                x.style.display = "block";
                } else {
                x.style.display = "none";
                };
            })})(index);
            var tr = document.createElement("tr");
            var td = document.createElement("td");
            var tdiv = document.createElement("div");
            tdiv.className = "col-2"
            tdiv.appendChild(chatButton);
            td.appendChild(tdiv);
            tr.appendChild(td);
            document.getElementsByTagName('tbody')[0].appendChild(tr)
            })(index);

        };
    };
    if (chats.length > 0) {
        var divs = document.getElementsByClassName('div');
        for (let z = 0; z < divs.length; z++) {
            (function(index){
            var userid = divs[z].getAttribute("id")[3];
            var user = divs[z].getAttribute("id").slice(4);
            var btn_id = 'btn' + userid + user;
            var msg_input_id = 'id'+userid + user;
            var chat_log_id = 'chat'+userid + user;
            var receiver = user;
            var receiver_log = chat_log_id;
            
            document.getElementById(msg_input_id).focus();
            document.getElementById(msg_input_id).onkeyup = function(e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.getElementById(btn_id).click();
                    }
                };
            document.getElementById(btn_id).onclick = function(e) {
                const messageInputDom = document.getElementById(msg_input_id);
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'receiver': user,
                    'receiver_log':receiver_log,
                    'sender':logged_in_user
                }));
                messageInputDom.value = '';
                };
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                var messages_delete = data.message_delete;
                if (messages_delete) {
                    if (data.receiver == logged_in_user){
                        recv_user_div_ids = data.selected_messages;
                        recv_user_divs = document.getElementsByTagName('div')
                        for (let i = 0; i < recv_user_divs.length; i++) {
                            for (let j = 0; j < recv_user_div_ids.length; j++) {
                                if (recv_user_divs[i].getAttribute("id") == recv_user_div_ids[j]) {
                                    document.getElementById(data.recv_user_log).removeChild(recv_user_divs[i]);
                                } 
                            }
                        }
                    };
                } else {
                    if (logged_in_user == data.sender) {
                    var outer_div = document.createElement('div');
                    var _div = document.createElement('div');
                    _div.appendChild(outer_div);
                    var h6 = document.createElement('h6');
                    h6.style.border = 'thin solid black';
                    h6.style.borderRadius = '8px';
                    _div.className = "d-flex justify-content-end";
                    h6.innerText = data.message+ '\n' + data.timestamp;;
                    outer_div.appendChild(h6);
                    document.getElementById(data.receiver_log).appendChild(_div);
                    } else if (data.receiver == logged_in_user){
                        var outer_div = document.createElement('div');
                        var _div = document.createElement('div');
                        _div.appendChild(outer_div);
                        var h6 = document.createElement('h6');
                        h6.style.border = 'thin solid black';
                        h6.style.borderRadius = '8px';
                        _div.className = "d-flex justify-content-start";                                               
                        h6.innerText = data.message+ '\n' + data.timestamp;;
                        outer_div.appendChild(h6);
                        document.getElementById(data.recv_user_log).appendChild(_div);
                    }; 
                };
                };
            })(z);
        };
    };
</script>
{% endblock %}
